.top-nav{
    position: absolute;
    top: 5px;
    left: 50px;
    height: 99px;
    overflow: hidden;
    margin-left: 297px;
   z-index: 1;
    overflow: hidden;
    /* position: fixed;
    top: 0; */
    /* background: #fff; */
    transition: opacity 1s;
    /* background:rgba(0,0,0,.5) */
}

.opacity{
  background:rgb(0,0,0,0)
}

.top-nav .top-nav-left a{
  float: left;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 54px;
  line-height: 56px;
}

.top-nav i{
    color: #fff;
}

.top-nav .big i{
  position: absolute;
    top: 20px;
    right: 255px;
    font-size: 20px;
    width: 60px;
    height: 75px;
    line-height: 56px;
    text-align: center;
}

.top-nav .people i{
  position: absolute;
  top: 18px;
    right: 202px;
  font-size: 24px;
  width: 60px;
  height: 75px;
  line-height: 56px;
  text-align: center;
}

.top-nav .gps i{
  position: absolute;
    top: 20px;
    right: 150px;
    font-size: 24px;
    width: 60px;
    height: 75px;
    line-height: 56px;
    text-align: center;
}

.top-nav div a{
    color: #fff;
}

.topnav-right{
    position: relative;
}

.BMW{
    position: absolute;
    top: 7px;
    right: 40px;
    background-image: url(../images/top-nav_1.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 75px;
    background-position: center center;
    background-size: 90px;
    z-index: 1;
}

.border-bottom{
  position: absolute;
    top: 98px;
    left: 2px;
    width: 1080px;
    height: 4px;
    background-color: #ccc;
}




/* 轮播图 */
  .slider {
    height: 765px;
    margin-left: 114px;
    /* margin-left: 112px; */
    position: relative;
  }

  .slider ul li {
    position: absolute;
    display: none;
  }

  .slider ul li:first-child {
    display: block;
  }

  .arrow {
    display: none;
  }

  .arrow-left,
  .arrow-right {
    font-family: "SimSun", "宋体";
    width: 40px;
    height: 40px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 37px;
    /* color: #4d4d4d; */
    font-weight: 700;
    font-size: 30px;
  }

  .arrow-left i,
  .arrow-right i{
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 0.8;
  }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 110px;
  }

  .slider ol {
    position: absolute;
    left: 46%;
    bottom: -50px;
    transform: translate(-50%);
  }

  .slider ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #bbbbbb;
  }

  .slider ol li.current {
    background-color: #1c69d4;
  }

  .slider .sky{
      position: absolute;
      top: 25%;
      left: 85px;
  }

  .slider h2{
      font-size: 46px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 13px;
  }

  .slider .blue{
    background-color: #1c69d4;
    color: #fff;
    font-size: 14px;
    padding: 16px 107px;
    font-weight: 600;
  }

  .slider .new{
    position: absolute;
    top: 24%;
    left: 130px;
}

.slider p{
    font-size: 23px;
    margin-bottom: 30px;
    color: #fff;
}

.slider .brown{
  background-color: #4d4d4d;
    color: #fff;
    font-size: 14px;
    padding: 16px 107px;
    margin-top: 30px;
    display: inline-block;
    font-weight: 600;
}

.slider .black{
  position: absolute;
  top: 30%;
  left: 130px;
}

.slider .black h2{
  font-size: 46px;
      color: #262626;
      font-weight: 500;
      margin-bottom: 13px;
}

.slider .black p{
  font-size: 23px;
    margin-bottom: 30px;
    color: #313334;
}

/* 顶部导航  a添加的类名 */
.border-blue{
  border-bottom: 4px solid #1c69d4;
}



/* 按车系查看 */
.car-check-top a{
  font-size: 18px;
  margin-right: 10px;
  color: #bdbdbd;
  padding-bottom: 16px;
  padding-left: 15px;
    padding-right: 15px;
}

.car-check-top{
  width: 1200px;
  /* margin-left: 130px; */
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.ah-tab-content-1 .blue{
  background-color: #1c69d4;
  color: #fff;
  font-size: 14px;
  padding: 16px 107px;
  font-weight: 600;
}

.car-check-top-1-content-all img,
.car-check-top-1-content-1 img,
.car-check-top-1-content-2 img,
.car-check-top-1-content-3 img,
.car-check-top-1-content-4 img,
.car-check-top-1-content-5 img,
.car-check-top-1-content-6 img,
.car-check-top-1-content-7 img,
.car-check-top-1-content-8 img,
.car-check-top-1-content-X img
.car-check-top-1-content-M img,
.car-check-top-1-content-Z img,
.car-check-top-1-content-ele img{
  width: 20%;
}

/* .car-check-top-1-content{
  position: relative;
} */

/* .all{
  position: relative;
} */

.all .bg{
  background-image: url(../images/tab_BI.png);
  width: 785px;
  height: 175px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 1290px;
  left: 565px;
}

.all h1{
  font-size: 100px;
  position: absolute;
  top: 1180px;
  left: 755px;
  color: #e6e6e6;
}

.all .blue{
  background-color: #1c69d4;
  color: #fff;
    font-size: 14px;
    padding: 16px 107px;
    width: 285px;
    height: 40px;
    position: absolute;
    top: 1500px;
    left: 790px;
    box-sizing: border-box;
    line-height: 9px;
}

.car-check-top-1-content{
  float: left;
  display: none;
}

.car-check-top-1-content-1{
  display: none;
}

.car-check-top-1-content img{
  width: 100%;
}

.car-check-top-1-content-1 img{
  width: 100%;
}

.one{
  position: relative;
}

.one .car{
  position: absolute;
    top: 35px;
    left: 31px;
    z-index: 1 !important; 
 }

.one .bg{
  background-image: url(../images/tab_BI.png);
  width: 300px;
  height: 75px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 116px;
  left: 31px;
  background-size: 266px;
}

/*2系  */
.car-check-top-1-content-two{
  float: left;
    width: 285px;
    position: relative;
    height: 280px;
}

.car-check-top-1-content-two .bg{
  background-image: url(../images/tab_BI.png);
  width: 300px;
  height: 75px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 91px;
  left: 19px;
  background-size: 266px;
  z-index: -1;
}

.car-check-top-1-content-two h3{
  font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #262626;
}

.car-check-top-1-content-two p{
  font-size: 15px;
    color: #bbbbbb;
    margin-bottom: 8px;
}

/* 3系 */
.car-check-top-1-content-three{
  float: left;
    width: 285px;
    position: relative;
    height: 500px;
}

.car-check-top-1-content-three .bg{
  background-image: url(../images/tab_BI.png);
  width: 300px;
  height: 75px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 91px;
  left: 19px;
  background-size: 266px;
  z-index: -1;
}

.car-check-top-1-content-three h3{
  font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #262626;
}

.car-check-top-1-content-three p{
  font-size: 15px;
    color: #bbbbbb;
    margin-bottom: 8px;
}

/* 4系 */
/* .car-check-top-1-content-four{
  float: left;
    width: 285px;
    position: relative;
    height: 500px;
}

.car-check-top-1-content-four .bg{
  background-image: url(../images/tab_BI.png);
  width: 300px;
  height: 75px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 91px;
  left: 19px;
  background-size: 266px;
  z-index: -1;
}

.car-check-top-1-content-four h3{
  font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #262626;
}

.car-check-top-1-content-four p{
  font-size: 15px;
    color: #bbbbbb;
    margin-bottom: 8px;
} */


.car-check{
  overflow: hidden;
  margin-top: 200px;
  /* position: relative; */
  /* margin-bottom: 560px; */
  height: 460px;
}

.car-check-top-1{
  width: 1200px;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin: 25px 0;
    
}

.car-check-top-1 a{
  font-size: 20px;
    font-weight: 600;
    color: #bbbbbb;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 25px;
    box-sizing: border-box;
    padding-right: 22px;
}

.car-check-top-1 a:first-child{
  /* width: 105px; */
  padding-left: 13px;
  font-weight: 500;
}

.car-check-top-1 a:last-child{
  font-weight: 500;
}


/* .ah-tab-content-wrapper-1 img{
  width: 24%;
} */

/* .ah-tab-content-0{
  position: relative;
} */

/* .car-check-top-1-content .bg{
  background-image: url(../images/tab_BI.png);
  width: 100px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
} */

/* .car-check-top-1-content .car{
  position: absolute;
    top: 35px;
    left: 31px;
    z-index: 1;
 } */

.car-check-top-2{
  width: 1800px;
    padding-left: 19px;
    border-bottom: 1px solid #ccc;
    margin: 25px 0;
    display: none;
    overflow: hidden;
}

.bottom-blue{
  border-bottom: 4px solid #1c69d4;
}

/* .hide{
  display: none;
} */

.car-check-top-2 a{
  font-size: 20px;
  font-weight: 100;
  color: #bbbbbb;
  text-align: center;
  display: inline-block;
 padding-bottom: 30px;
    padding-left: 25px;
    box-sizing: border-box;
    padding-right: 22px;
}

.ab-tab-content-ck{
  display: block;
   width: 1200px;
   height: 300px;
   overflow: hidden;
   position: relative;
}

.ah-tab-content-B{
  float: left;
}




/* 活动 */
.activity-title {
  margin-top: 180px;
  margin-left: 354px;
  width: 1200px;
  height: 480px;
  position: absolute;
}

.ah-tab-activity a{
  width: 197px;
  text-align: center;
  color: #8e8e8e;
  font-size: 14px;
  line-height: 17px;
}

.activity-arrow-right,
.activity-arrow-left {
  font-family: "SimSun", "宋体";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
  line-height: 37px;
  font-weight: 700;
  font-size: 30px;
}

.activity-arrow-left i,
.activity-arrow-right i{
  font-size: 23px;
  font-weight: 900;
}

.activity-arrow-right{
  right: -30px;
  top: 104px;
}

.activity-arrow-left{
  left: -35px;
    top: 101px;
}

.activity-title h1{
  font-size: 26px;
  font-weight: normal;
  margin-left: 0px;
}

.ah-tab-activity {
  border-bottom: 1px solid #ebebeb;
  margin-left: 0px;
  width: 1199px;
  letter-spacing: -0.3em;
}

.ah-tab-item {
  color: #8b8b8b;
  cursor: pointer;
  display: inline-block;
  letter-spacing: normal;
  transition: all .3s;
  text-decoration: none;
  font-size: 16px;
}

.ah-tab-activity>.ah-tab-item {
  border-bottom: 5px solid transparent;
  padding-top: 38px;
  padding-bottom: 5px;
}

.ah-tab>.ah-tab-item:hover{
  border-bottom: 5px solid #1c69d4;
}

.ah-tab-content-wrapper {
  margin: 30px 0;
  height: 330px;
  /* width: 7200px; */
  width: 9000px;
  /* position: relative; */
  position: absolute;
  top: 0;
  left: 0;
}

.ah-tab-content {
  /* display: none; */
  overflow: hidden;
  width: 1191px;
  float: left;
  height: 330px;
  margin-right: 10px;
}

.ah-tab-content img{
  float: left;
  margin-right: 35px;
}

.ah-tab-content p{
  font-size: 15px;
  line-height: 17px;
}


.ah-tab-content .understand img{
  height: 29px;
    margin-right: -7px;
    width: 30px;
    margin-top: -4px;
    margin-left: -7px;
    float: left;
}

.ah-tab-content span{
  font-size: 14px;
  margin-left: -2px;
  float: left;
  margin-top: -1px;
}

.ah-tab-content .understand{
  width: 95px;
    height: 30px;
    line-height: 22px;
    font-size: 14px;
}

.ah-tab-content[data-ah-tab-active="true"] {
  display: block;
  margin-left: 5px;
}

.first{
  width: 1200px;
    height: 480px;
    /* overflow: hidden; */
    position: relative;
    /* margin-top: 300px; */
    /* margin-left: 360px; */
}







/* 第五部分 */
.five-part{
  margin-top: 185px;
  margin-left: 360px;
    overflow: hidden;
    width: 1200px;
}

.five-part img{
  width: 100%;
}

.five-part-one,
.five-part-two{
  float: left;
    width: 585px;
    height: 435px;
    border: 1px solid #ccc;
    margin-bottom: 92px;
    margin-right: 15px;
    box-sizing: border-box;
    padding: 16px;
}

.five-part-one p,
.five-part-two p{
  font-size: 20px;
    margin-top: 10px;
}

.five-part-one s,
.five-part-two s{
  font-size: 14px;
    margin: 7px 0px;
    display: block;
}

.five-part .understand img{
  height: 29px;
    margin-right: -7px;
    width: 30px;
    margin-top: -4px;
    margin-left: -7px;
    float: left;
}

.five-part span{
  font-size: 14px;
  margin-left: -2px;
  float: left;
  margin-top: -1px;
}

.five-part .understand{
  width: 570px;
    height: 30px;
    line-height: 22px;
    font-size: 14px;
}



/* 第六部分 */
.six-part{
  margin-top: 18px;
    margin-left: 360px;
    overflow: hidden;
    width: 1185px;
}

.six-part img{
  width: 93%;
    margin-left: 10px;
    margin-top: 7px;
}

.six-part .jiantou{
  width: 30px;
}

.six-part-one,
.six-part-two{
  float: left;
    width: 285px;
    height: 297px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 100px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-right: 15px;
}

.six-part-height{
  float: left;
    width: 285px;
    height: 307px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 100px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-right: 15px;
}

.six-part-height p{
  font-size: 27px;
    margin-top: 10px;
    margin-left: 10px;
}

.six-part-height s{
  font-size: 14px;
    margin: 7px 0px;
    display: block;
    margin-left: 10px;
}

.six-part-one p,
.six-part-two p{
  font-size: 27px;
    margin-top: 10px;
    margin-left: 10px;
}

.six-part-one s,
.six-part-two s{
  font-size: 14px;
    margin: 7px 0px;
    display: block;
    margin-left: 10px;
}

.six-part .understand{
  width: 95px;
    height: 30px;
    line-height: 22px;
    font-size: 14px
}

.six-part .understand img{
  height: 29px;
    margin-right: -7px;
    width: 30px;
    margin-top: -4px;
    margin-left: 0px;
    float: left;
}

.ah-tab-content .understand:hover{
  color: blue;
}

.six-part div:last-child{
  margin-top: 2px;
}



/* 第七部分 */
.seven-part{
  margin-top: -20px;
  margin-left: 17px;
  overflow: hidden;
}

.seven-part img{
  width: 100%;
}

.seven-part-one,
.seven-part-two{
  width: 585px;
    height: 420px;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 100px;
    float: left;
    box-sizing: border-box;
    margin-right: 15px;
}

/* .seven-part-one {
  margin-right: 18px;
} */

.seven-part-one p,
.seven-part-two p{
  font-size: 20px;
    margin-top: 10px;
}

.seven-part-one s,
.seven-part-two s{
  font-size: 14px;
    margin: 7px 0px;
    display: block;
}




/* 第八部分 */
.eight-part{
  padding-bottom: 120px;
  
}
.eight-part-one{
  width: 230px;
  height: 155px;
  background-color: #f2f2f2;
    /* display: inline-block; */
    margin-right: 10px;
    position: relative;
    float: left;
}

.eight-part-one .iconfont{
  font-size: 30px;
  position: absolute;
  top: 30%;
  right: 45%;
}

.eight-part-one p{
  font-size: 16px;
  color: #9b9b9b;
  margin-top: 90px;
  margin-left: 70px;
}

.eight-part-one .yu{
  margin-left: 82px;
}




/* 底部 */
.footer{
  width: 100%;
  height: 415px;
  background-color: #e6e6e6;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 150px;
  position: relative;
  box-sizing: border-box;
}

.footer dl{
  float: left;
  margin-right: 120px;
}

.footer .footer-one{
  padding-left: 24px;
}

.footer dt{
  font-size: 18px;
    color: #333;
    margin-bottom: 28px;
}

.footer dd{
  font-size: 14px;
  line-height: 28px;
  color: #999999;
  font-weight: 700;
}

.footer dd:hover{
  color: #2b2b2b;
}

.footer .xian{
  position: absolute;
    bottom: 307px;
    left: 332px;
    width: 1200px;
    height: 1px;
    background-color: #bbbbbb;
}



/* 许可证 */
.last{
  width: 100%;
  height: 87px;
  overflow: hidden;
}

.last p{
  float: left;
  float: left;
    font-size: 16px;
    line-height: 70px;
    padding-left: 24px;
}

.last-right{
  float: right;
    font-size: 14px;
    position: relative;
}

.last-right span{
  margin-right: 19px;
  line-height: 70px;
  padding: 3px;
}

.last-right i{
  position: absolute;
    top: 25px;
    right: 200px;
    background-image: url(../images/last_1.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 21px;
    padding-left: 12px;
    display: block;
}

.last .us{
  color: #1567d7;
}

.last .us:hover{
  color: #333;
  font-weight: 900;
}

.last-right .jing:hover{
  font-weight: 700;
}