.topnav{
    width: 100%;
    height: 92px;
    position: fixed !important;
    top: 0;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
    z-index: 10;
}

.topnav-one-part{
    width: 660px;
    display: inline-block;
}

.topnav-one-part a{
    font-size: 20px;
    color: #181c2f;
    font-weight: 600;
    line-height: 60px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: Microsoft YaHei;
    padding-right: 40px;
}

.topnav-two-part a{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-weight: 700;
    color: #91929b;
    margin-right: 30px;
}

.topnav-two-part a:first-child{
    color: #262626;
}

.topnav-two-part{
    float: left;
}

.topnav-two-part-right{
    overflow: hidden;
    position: relative;
    width: 653px;
    height: 90px;
    margin-top: -57px;
    padding-top: 15px
}

.topnav-two-part-right input{
    margin-left: 250px;
    border: none;
    border-bottom: 1px solid #181c2f;
    padding-left: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 26px;
    width: 171px;
    height: 60px;
}

.topnav-two-part-right input::-webkit-input-placeholder { 
       color: #c0c4cc;   
       font-size: 14px; 
       text-align: left;
       line-height: 20px;
   }

.topnav-two-part-right .big{
    position: absolute;
    top: 48px;
    left: 255px;
    font-size: 20px;
}

.people,
.cart{
    font-size: 26px;
    margin-left: 35px;
}

 .topnav img{
    width: 5%;
    position: absolute;
    top: -6px;
    right: 350px;
}



/* 轮播图 */
.slider {
    /* height: 765px; */
    margin-left: 114px;
    /* margin-left: 112px; */
    position: relative;
    margin-top: 92px;
    /* z-index: -1; */
  }

  .slider img{
      width: 117%;
  }

  .slider ul{
      height: 632px;
  }

  .slider ul li {
    position: absolute;
    display: none;
  }

  .slider ul li:first-child {
    display: block;
  }

  .slider ol {
    position: absolute;
    left: 49%;
    bottom: 8px;
    transform: translate(-50%);
  }

  .slider ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #bbbbbb;
  }

  .slider ol li.current {
    background-color: #1c69d4;
  }



  /* 各种服务 */
  .all-kinds-of-servise{
      width: 100%;
      height: 175px;
      overflow: hidden;
      padding-top: 25px;
  }

  .all-kinds-of-servise .content{
      width: 200px;
      height: 125px;
      /* border: 1px solid #ccc; */
      float: left;
      box-sizing: border-box;
      /* transition: all 0.5s; */
  }

  .all-kinds-of-servise .content:hover{
      /* transform: scale(1.01); */
      box-shadow: 8px 6px 31px -6px #ccc;
  }

  .all-kinds-of-servise a{
     line-height: 170px;
     color: #181c2f;
     font-size: 14px;
    font-weight: 600;
    margin-left: 68px;
  }


  /* 广告 */
  .ad{
      margin-bottom: 20px;
  }

  .ad img{
    width: 1200px;
  }


  /* BMW车型 */
  .motorcycle-type{
    height: 375px;
    width: 1200px;
    margin-left: 353px;
  }

  .motorcycle-type li{
      /* border: 1px solid #ccc; */
      float: left;
  }

  .motorcycle-type li:hover{
    box-shadow: 8px 6px 31px -6px #ccc;;
  }

  .motorcycle-type li:first-child{
      margin-right: 18px;
      width: 740px;
  }

  .motorcycle-type li:last-child{
    margin-top: 18px;
    width: 438px;
}

.motorcycle-type li:nth-child(2){
    width: 438px;
}


/* 热销排行榜 */
.hot{
    margin-top: 15px;
    position: relative;
    /* overflow: hidden; */
    width: 1200px;
    /* height: 320px; */
    margin-left: 353px;
    /* z-index: -1; */
    margin-bottom: 41px;
}

.hot-ad{
    width: 1200px;
    
}

.hot h2{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
    /* position: relative; */
}

.hot ul{
    width: calc(250px*9);
    overflow: hidden;
    padding-top: 25px;
    position: absolute;
    height: 345px;
}

.hot li{
    float: left;
    width: 232px;
    height: 325px;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    margin-right: 10px;
    transition: all 0.5s;
    position: relative;
    box-shadow: 8px 6px 31px -19px #ccc;
    z-index: -1;
    background-color: #fff;
}

.hot li:hover{
    transform: scale(1.06);
   
}

.hot li img{
    width:100%;
}

/* 箭头 */
.arrow-left,
  .arrow-right {
    font-family: "SimSun", "宋体";
    width: 47px;
    height: 40px;
    background-color: #fefefe;
    position: absolute;
    top: 45%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 37px;
    /* color: #4d4d4d; */
    font-weight: 700;
    font-size: 30px;
    
  }

  

  .arrow-left i,
  .arrow-right i{
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    color: #babbc1;
  }

  .arrow-left i{
    position: absolute;
    top: 200px;
    left: -5px;
  }

  .arrow-right i{
    position: absolute;
    top: 10px;
    right: -1156px;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 0.8;
  }

  .arrow-left {
    position: relative;
  }

  .arrow-right {
   position: relative;
  }


.look{
    width: 1210px;
    height: 335px;
    position: relative;
    overflow: hidden;
}

.look p{
    font-size: 18px;
    color: #000;
    padding-left: 10px;
    font-weight: 300;
}

.look span{
    font-size: 20px;
    color: #1c69d4;
    margin-top: 10px;
    display: block;
   
}

.look .top{
    background-image: url(../images/hot-tpo.png);
    width: 56px;
    height: 57px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 10px;
    background-size: 56px;
}



.look .top3{
    background-image: url(../images/hot-top_2.png);
    width: 69px;
    height: 90px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: 8px;
    background-size: 45px;
}


.look .one{
    position: absolute;
    top: 22px;
    left: 25px;
    /* z-index: 10; */
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.look .two{
    position: absolute;
    top: 22px;
    left: 25px;
    /* z-index: 10; */
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.look .three{
        position: absolute;
        top: 22px;
        left: 26px;
        /* z-index: 10; */
        color: #fff;
        font-size: 18px;
        font-weight: 100;
}

.look .four{
    position: absolute;
    top: 20px;
    left: 18px;
    /* z-index: 10; */
    color: #1c69d3;
    font-size: 18px;
    font-weight: 100;
}

.look .five{
    position: absolute;
    top: 20px;
    left: 18px;
    /* z-index: 10; */
    color: #1c69d3;
    font-size: 18px;
    font-weight: 100;
}

.look .six{
    position: absolute;
    top: 20px;
    left: 18px;
    /* z-index: 10; */
    color: #1c69d3;
    font-size: 18px;
    font-weight: 100;
}

.look .seven{
    position: absolute;
    top: 20px;
    left: 18px;
    /* z-index: 10; */
    color: #1c69d3;
    font-size: 18px;
    font-weight: 100;
}

.look .eight{
    position: absolute;
    top: 20px;
    left: 18px;
    /* z-index: 10; */
    color: #1c69d3;
    font-size: 18px;
    font-weight: 100;
}







/* 热销车型 */
.hot-car-title{
    overflow: hidden;
}

.hot-car-title h2{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
    /* position: relative; */
    float: left;
}

.hot-car-title span{
    float: right;
    font-size: 14px;
}

.hot-car-slider{
    height: 500px;
    background-color: pink;
    margin-bottom: 40px;
}




/* 热销车型 */
.good-produce{
    overflow: hidden;
}

.good-produce-title-top{
    height: 80px;
}

.good-produce-title{
    float: left;
    /* margin-right: 30px; */
    width: 200px;
    height: 66px;
    text-align: center;
}

.good-produce-title h2{
    font-size: 24px;
    color: #181c2f;
    font-weight: 600;
    /* margin-bottom: 8px; */
    line-height: 45px;
}

/* .good-produce-title h2:hover{
    color: #1b69d4;
} */

.good-produce-title span{
    font-size: 16px;
    font-weight: 500;
    /* opacity: 0.6; */
    color: #ccc;
    padding-bottom: 7px;
    width: 64px;
    height: 28px;
}

.good-produce-title span:first-child{
    padding-left: 15px;
    padding-right: 15px;
}

.good-produce-title-border{
    border-bottom: 4px solid #1c69d4;
}

/* .good-produce-title span:hover{
    color: #76a5e5;
} */

.good-produce-content{
    display: none;
}



.good-produce-content ul{
    overflow: hidden;
}

.good-produce-content li{
    width: 293px;
    height: 394px;
    float: left;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.good-produce-content li:hover{
    transform: scale(1.06);
    box-shadow: 8px 6px 31px -19px #ccc;
}

.good-produce-content img{
    width: 100%;
}

.good-produce-content p{
    font-size: 18px;
    color: #000;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 53px;
}

.good-produce-content span{
    padding-left: 10px;
    font-size: 20px;
    color: #1c69d4;
    margin-top: 10px;
    display: block;
}

.content1{
    width: 293px;
    height: 101px;
    margin-top: 10px;
}

.good-produce-content-2 ul{
    overflow: hidden;
}

.good-produce-content-2 li{
    width: 293px;
    height: 394px;
    float: left;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.good-produce-content-2 li:hover{
    transform: scale(1.06);
    box-shadow: 8px 6px 31px -19px #ccc;
}

.good-produce-content-2 img{
    width: 100%;
}

.good-produce-content-2 p{
    font-size: 18px;
    color: #000;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 53px;
}

.good-produce-content-2 span{
    padding-left: 10px;
    font-size: 20px;
    color: #1c69d4;
    margin-top: 10px;
    display: block;
}


.good-produce-content-3 ul{
    overflow: hidden;
}

.good-produce-content-3 li{
    width: 293px;
    height: 394px;
    float: left;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.good-produce-content-3 li:hover{
    transform: scale(1.06);
    box-shadow: 8px 6px 31px -19px #ccc;
}

.good-produce-content-3 img{
    width: 100%;
}

.good-produce-content-3 p{
    font-size: 18px;
    color: #000;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 53px;
}

.good-produce-content-3 span{
    padding-left: 10px;
    font-size: 20px;
    color: #1c69d4;
    margin-top: 10px;
    display: block;
}



/* 视频看车 */
.video-car{
    position: fixed;
    bottom: 30%;
    width: 60px;
    height: 60px;
    right: 0;
    border-radius: 50%;
    box-shadow: 20px -20px 164px 58px #ccc;
}

.video-car span{
    color: #1c69d4;
    padding-left: 7px;
}

.video-car i{
    font-size: 33px;
    line-height: 41px;
    margin-left: 15px;
    color: #1c69d4;
}


.subnav{
    position: fixed;
    width: 35px;
    height: 200px;
    bottom: 40px;
    right: 10px;
    background-color: #7f7f7f;
    border-radius: 8px;
    z-index: 8;
    display: none;
}

.subnav i{
    font-size: 25px;
    margin-top: 15px;
    display: block;
    text-align: center;
    color: #fff;
}




/* 底部 */
.footer{
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background-color: #8e8e8e;
    overflow: hidden;
    position: relative;
}

.footer p{
    float: left;
    line-height: 80px;
    color: #fff;
    font-size: 14px;
}

.footer i{
    position: absolute;
    top: 29px;
    left: 328px;
    background-image: url(../images/last_1.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 21px;
    padding-left: 12px;
    display: block;
  }

  .footer-right span{
      margin-left: 38px;
      float: left;
      color: #fff;
      font-size: 14px;
      margin-top: 37px;
      border-bottom: 1px solid #fff;
  }

  .footer-right span:first-child{
      margin-left: 372px;
  }

  .footer .BMW{
      border: none;
  }