.topnav{
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
}

.topnav-one-part{
    width: 660px;
    display: inline-block;
}

.topnav-one-part a{
    font-size: 20px;
    color: #181c2f;
    font-weight: 600;
    line-height: 60px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: Microsoft YaHei;
    padding-right: 40px;
}

.topnav-two-part a{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-weight: 700;
    color: #91929b;
    margin-right: 30px;
}

.topnav-two-part a:first-child{
    color: #262626;
}

.topnav-two-part{
    float: left;
}

.topnav-two-part-right{
    overflow: hidden;
    position: relative;
    width: 653px;
    height: 90px;
    margin-top: -57px;
    padding-top: 15px
}

.topnav-two-part-right input{
    margin-left: 250px;
    border: none;
    border-bottom: 1px solid #181c2f;
    padding-left: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 26px;
    width: 171px;
    height: 60px;
}

.topnav-two-part-right input::-webkit-input-placeholder { 
       color: #c0c4cc;   
       font-size: 14px; 
       text-align: left;
       line-height: 20px;
   }

.topnav-two-part-right .big{
    position: absolute;
    top: 48px;
    left: 255px;
    font-size: 20px;
}

.people,
.cart{
    font-size: 26px;
    margin-left: 35px;
}

 .topnav img{
    width: 5%;
    position: absolute;
    top: -6px;
    right: 350px;
}



/* 轮播图 */
.slider {
    /* height: 765px; */
    margin-left: 114px;
    /* margin-left: 112px; */
    position: relative;
    margin-top: 92px;
    z-index: -1;
  }

  .slider img{
      width: 117%;
  }

  .slider ul{
      height: 632px;
  }

  .slider ul li {
    position: absolute;
    display: none;
  }

  .slider ul li:first-child {
    display: block;
  }

  .slider ol {
    position: absolute;
    left: 49%;
    bottom: 8px;
    transform: translate(-50%);
  }

  .slider ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #bbbbbb;
  }

  .slider ol li.current {
    background-color: #1c69d4;
  }



  /* 各种服务 */
  .all-kinds-of-servise{
      width: 100%;
      height: 175px;
      overflow: hidden;
      margin-top: 25px;
  }

  .all-kinds-of-servise .content{
      width: 200px;
      height: 125px;
      border: 1px solid #ccc;
      float: left;
      box-sizing: border-box;
  }

  .all-kinds-of-servise a{
     line-height: 170px;
     color: #181c2f;
     font-size: 14px;
    font-weight: 600;
    margin-left: 68px;
  }


  /* 广告 */
  .ad{
      margin-bottom: 20px;
  }


  /* BMW车型 */
  .motorcycle-type{
      height: 375px;
  }

  .motorcycle-type li{
      border: 1px solid #ccc;
      float: left;
  }

  .motorcycle-type li:first-child{
      margin-right: 18px;
  }

  .motorcycle-type li:last-child{
    margin-top: 18px;
}


/* 热销排行榜 */
.hot{
    margin-top: 10px;
}

.hot h2{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
}