.top-nav{
    /* position: absolute; */
    top: 5px;
    /* left: 50px; */
    width: 100%;
    height: 99px;
    overflow: hidden;
    /* margin-left: 297px; */
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #fff;
    /* transition: opacity 1s; */
    border: 1px solid #ccc;
}

/* .opacity{
  background:rgb(0,0,0,0)
} */

.top-nav .top-nav-left a{
  float: left;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 54px;
  line-height: 56px;
  color: #8e8f91;
}

.top-nav i{
    color: #8e8f91;
}

.top-nav .big i{
  /* position: absolute;
    top: 20px;
    right: 255px; */
    font-size: 20px;
    width: 60px;
    height: 75px;
    line-height: 100px;
    text-align: center;
    float: left;
    margin-left: 460px;
}

.top-nav .people i{
  /* position: absolute;
  top: 18px;
    right: 202px; */
  font-size: 24px;
  width: 60px;
  height: 75px;
  line-height: 100px;
  text-align: center;
  float: left;
}

.top-nav .gps i{
  /* position: absolute;
    top: 20px;
    right: 150px; */
    font-size: 24px;
    width: 60px;
    height: 75px;
    line-height: 100px;
    text-align: center;
    float: left;
}

.top-nav div a{
    color: #fff;
}

.topnav-right{
    position: relative;
}

.BMW{
    position: absolute;
    top: 12px;
    right: 5px;
    background-image: url(../images/top-nav_2.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 75px;
    background-position: center center;
    background-size: 90px;
    z-index: 1;
}

.border-bottom{
  position: absolute;
    top: 98px;
    left: 2px;
    width: 1080px;
    height: 4px;
    background-color: #ccc;
}



/* 配置表 */
.configuration-table{
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    position: relative;
    margin-top: 100px;
    background-color: #fff;
}

.configuration-table a{
    line-height: 80px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    color: #8e8e8e;
    font-weight: 600;
}

.configuration-table a::before{
    content: "";
    width: 1px;
    height: 50px;
    background-color: #ebebeb;
    position: absolute;
    top: 18px;
    left: 513px;
}

.configuration-table a:first-child{
    margin-right: 40px;
    color: #262626;;
}

.configuration-table a:nth-child(4){
    color: #363636;
    border-bottom: 4px solid #1c69d4;
    padding-bottom: 29px;
}

.driver{
    width: 235px;
    height: 47px;
    background-color: #1c69d4;
    float: right;
    margin-top: 19px;
}

.driver span{
    color: #fff;
    text-align: center;
    line-height: 47px;
    font-weight: 600;
    display: block;
}



/* 参数与配置 */
.parameter{
    margin-top: 60px;
    overflow: hidden;
    height: 350px;
}

.parameter h1{
    font-size: 35px;
    padding-left: 7px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
}

.parameter-two{
    float: left;
    height: 48px;
    padding: 0 60px 0 15px;
    line-height: 28px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 2px solid #e6e6e6;
    width: 1200px;
    line-height: 47px;
    position: relative;
}

.parameter-two a{
    margin-right: 75px;
}

.parameter-two a:last-child{
    float: right;
    text-decoration: underline;
    line-height: 45px;
}

.parameter-two a:nth-child(1)::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #000000;
    position: absolute;
    top: 20px;
    left: 2px;
}

.parameter-two a:nth-child(2)::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #000000;
    position: absolute;
    top: 20px;
    left: 128px;
}

.parameter-two a:nth-child(3)::before{
    content: "";
    width: 10px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 22px;
    left: 260px;
}

.wheelbase{
    height: 80px;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
}

.wheelbase span{
    float: left;
    line-height: 72px;
    margin-right: 40px;
}

.long{
    float: left;
    background-color: #1c69d4;
    width: 150px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin-top: 20px;
}

.biaozhun{
    float: left;
    border: 1px solid #ccc;
    width: 150px;
    height: 32px;
    color: #333;
    text-align: center;
    line-height: 32px;
    margin-top: 20px;
}

/* 选择框 */
.choose{
    height: 94px;
    position: relative;
    width: 255px;
    float: left;
    margin-top: 30px;
}

.choose-left-one{
    margin-top: 5px;
}

.choose-left-one span{
    margin-left: 15px;
    display: inline-block;
}

.choose-left-one::before{
    content: ' ';
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.choose-left-one #input1{
    opacity: 0;
}

.choose-left-two{
    margin-top: 24px;
}

.choose-left-two span{
    margin-left: 15px;
    display: inline-block;
}

.choose-left-two::before{
    content: ' ';
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
}

.choose-left-two #input2{
    opacity: 0;
}

/* 选择框的右边 */
.choose-content{
  position: relative;
  height: 109px;
    margin-left: 255px;
    width: 945px;
    overflow: hidden;
}

.arrow-left{
    width: 30px;
    height: 60px;
    background-color: #cdcdcd;
    margin-top: -180px;
    float: left;
}

.arrow-left i{
    line-height: 60px;
    margin-left: 8px;
}

.arrow-right{
    width: 30px;
    height: 60px;
    background-color: #666666;
    margin-top: -180px;
    float: right;
    /* margin-left: 885px */
}

.arrow-right i{
    line-height: 60px;
    margin-left: 8px;
}

.big-choose{
    border-bottom: 1px solid #ccc;
    height: 110px;
}

#selid{
    margin-top: 25px;
    margin-left: 10px;
    width: 283px;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}

select {   
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
    border: solid 1px #d9d9d9;   
    /*很关键：将默认的select选择框样式清除*/  
    appearance:none;   
    -moz-appearance:none;   
    -webkit-appearance:none;   
    /*在选择框的最右侧中间显示小箭头图片*/  
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll rightright center transparent;   
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
    padding-right: 14px;   
  }   
  /*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
  select::-ms-expand { display: none; }  

  .arrow-white1{
    position: absolute;
    top: 26px;
    left: 284px;
    width: 35px;
    height: 35px;
    background-color: #1c69d4;
  }

  .arrow-white1 i{
      color: #fff;
      line-height: 35px;
    margin-left: 10px;
  }

  .arrow-white2{
    position: absolute;
    top: 26px;
    left: 579px;
    width: 35px;
    height: 35px;
    background-color: #1c69d4;
  }

  .arrow-white2 i{
      color: #fff;
      line-height: 35px;
    margin-left: 10px;
  }

  .arrow-white3{
    position: absolute;
    top: 26px;
    left: 875px;
    width: 35px;
    height: 35px;
    background-color: #1c69d4;
  }

  .arrow-white3 i{
      color: #fff;
      line-height: 35px;
    margin-left: 10px;
  }


  .choose-content ul{
      float: left;
      overflow: hidden;
      width: calc(300px*6);
      margin-left: 27px;
  }

  .choose-content li{
      float: left;
      width: 295px;
  }

  .choose-content li:nth-child(3){
      margin-right: 50px;
  }

  .choose-content li a{
      margin-left: 20px;
      text-decoration: underline;
  }

  .price{
      height: 44px;
  }

  .price b{
    font-size: 14px;
    margin-left: -220px;
    line-height: 44px;
  }

  .price span{
      margin-left: 200px;
      font-size: 14px;
  }


  .information{
      position: relative;
  }

  .information-one,
  .information-two,
  .information-three,
  .information-four,
  .information-five,
  .information-six,
  .information-seven,
  .information-eight,
  .information-nine,
  .information-ten,
  .information-eleven{
      border-bottom: 1px solid #ccc;
      height: 72px;
      line-height: 72px;
      font-size: 20px;
      padding-left: 50px;
      font-weight: 200;
  }

  .information-one h3,
  .information-two h3,
  .information-three h3,
  .information-four h3,
  .information-five h3,
  .information-six h3,
  .information-seven h3,
  .information-eight h3,
  .information-nine h3,
  .information-ten h3,
  .information-eleven h3{
      font-weight: 500;
  }

  .information ul li{
     height: 72px;
     width: 1200px;
     font-size: 18px;
     padding-left: 50px;
     line-height: 72px;
     border-bottom: 1px solid #ccc;
     box-sizing: border-box;
  }

  /* .information tr{
      
  } */

  .information td{
    /* margin-right: 40px; */
    width: 290px;
    text-align: center;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.information td:first-child{
    /* margin-right: 40px; */
    width: 328px;
    text-align: left;
}

.information-add1{
    width: 40px;
    height: 40px;
    background-color: #1c69d4;
    position: absolute;
    top: 5px;
    left: 351px;
}

.information-add1 i{
    color: #fff;
    line-height: 40px;
    margin-left: 12px;
    font-size: 26px;
}

.information-add2{
    width: 40px;
    height: 40px;
    background-color: #1c69d4;
    position: absolute;
    top: 668px;
    left: 351px;
}

.information-add2 i{
    color: #fff;
    line-height: 40px;
    margin-left: 12px;
    font-size: 26px;
}













.beizhu{
    margin-top: 20px;
}

.beizhu-one h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.beizhu-one b{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

.beizhu-one p{
    font-size: 14px;
    margin-bottom: 8px;
}

.beizhu-two b{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
    display: block;
}

.beizhu-two p{
    font-size: 14px;
    margin-bottom: 8px;
}







































/* 第八部分 */
.eight-part{
    padding-bottom: 120px;
    margin-top: 30px;
  }
  .eight-part-one{
    width: 230px;
    height: 155px;
    background-color: #f2f2f2;
      /* display: inline-block; */
      margin-right: 10px;
      position: relative;
      float: left;
  }
  
  .eight-part-one .iconfont{
    font-size: 30px;
    position: absolute;
    top: 30%;
    right: 45%;
  }
  
  .eight-part-one p{
    font-size: 16px;
    color: #9b9b9b;
    margin-top: 90px;
    margin-left: 70px;
  }
  
  .eight-part-one .yu{
    margin-left: 82px;
  }
  
  
  
  
  /* 底部 */
  .footer{
    width: 100%;
    height: 415px;
    background-color: #e6e6e6;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 150px;
    position: relative;
    box-sizing: border-box;
  }
  
  .footer dl{
    float: left;
    margin-right: 120px;
  }
  
  .footer .footer-one{
    padding-left: 24px;
  }
  
  .footer dt{
    font-size: 18px;
      color: #333;
      margin-bottom: 28px;
  }
  
  .footer dd{
    font-size: 14px;
    line-height: 28px;
    color: #999999;
    font-weight: 700;
  }
  
  .footer dd:hover{
    color: #2b2b2b;
  }
  
  .footer .xian{
    position: absolute;
      bottom: 307px;
      left: 332px;
      width: 1200px;
      height: 1px;
      background-color: #bbbbbb;
  }
  
  
  
  /* 许可证 */
  .last{
    width: 100%;
    height: 87px;
    overflow: hidden;
  }
  
  .last p{
    float: left;
    float: left;
      font-size: 16px;
      line-height: 70px;
      padding-left: 24px;
  }
  
  .last-right{
    float: right;
      font-size: 14px;
      position: relative;
  }
  
  .last-right span{
    margin-right: 19px;
    line-height: 70px;
    padding: 3px;
  }
  
  .last-right i{
    position: absolute;
      top: 25px;
      right: 200px;
      background-image: url(../images/last_1.png);
      background-repeat: no-repeat;
      width: 22px;
      height: 21px;
      padding-left: 12px;
      display: block;
  }
  
  .last .us{
    color: #1567d7;
  }
  
  .last .us:hover{
    color: #333;
    font-weight: 900;
  }
  
  .last-right .jing:hover{
    font-weight: 700;
  }