.top-nav{
    position: absolute;
    top: 5px;
    left: 50px;
    height: 99px;
    overflow: hidden;
    margin-left: 297px;
   z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    /* background: #fff; */
    transition: opacity 1s;
    /* background:rgba(0,0,0,.5) */
}

.opacity{
  background:rgb(0,0,0,0)
}

.top-nav .top-nav-left a{
  float: left;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 54px;
  line-height: 56px;
}

.top-nav i{
    color: #fff;
}

.top-nav .big i{
  position: absolute;
    top: 20px;
    right: 233px;
    font-size: 20px;
    width: 60px;
    height: 75px;
    line-height: 56px;
    text-align: center;
}

.top-nav .people i{
  position: absolute;
  top: 18px;
    right: 178px;
  font-size: 24px;
  width: 60px;
  height: 75px;
  line-height: 56px;
  text-align: center;
}

.top-nav .gps i{
  position: absolute;
    top: 20px;
    right: 120px;
    font-size: 24px;
    width: 60px;
    height: 75px;
    line-height: 56px;
    text-align: center;
}

.top-nav div a{
    color: #fff;
}

.topnav-right{
    position: relative;
}

.BMW{
    position: absolute;
    top: 12px;
    right: 10px;
    background-image: url(../images/top-nav_1.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 75px;
    background-position: center center;
    background-size: 90px;
    z-index: 1;
}

.border-bottom{
  position: absolute;
    top: 98px;
    left: 2px;
    width: 1080px;
    height: 4px;
    background-color: #ccc;
}

/* 顶部导航  a添加的类名 */
.border-blue{
    border-bottom: 4px solid #1c69d4;
  }




/* C位大图 */
.c-big{
    position: relative;
}

.c-big img{
    margin-left: 110px;
}

.new .blue{
    background-color: #1c69d4;
    color: #fff;
    font-size: 14px;
    padding: 16px 107px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    margin-left: 85px;
  }

  .c-big .new{
    position: absolute;
    top: 24%;
    left: 130px;
}

.new h2{
    font-size: 46px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 13px;
    margin-left: 85px;
}

.new p{
    font-size: 23px;
    margin-bottom: 30px;
    color: #fff;
    margin-left: 85px;
}



/* 配置表 */
.configuration-table{
    width: 100%;
    height: 80px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-top: 15px;
    background-color: #fff;
}

.configuration-table a{
    line-height: 80px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    color: #8e8e8e;
    font-weight: 600;
    padding-bottom: 29px;
}

.configuration-table span::before{
    content: "";
    width: 1px;
    height: 50px;
    background-color: #ebebeb;
    position: absolute;
    top: 18px;
    left: 468px;
}

.configuration-table span{
    margin-right: 40px;
    color: #262626;;
    font-size: 15px;
    font-weight: 700;
}

/* .configuration-table a:nth-child(4){
    color: #363636;
    border-bottom: 4px solid #1c69d4;
    padding-bottom: 29px;
} */

.driver{
    width: 325px;
    height: 47px;
    background-color: #1c69d4;
    float: right;
    margin-top: 19px;
}

.driver span{
    color: #fff;
    text-align: center;
    line-height: 47px;
    font-weight: 600;
    display: block;
    font-size: 14px;
}




/* 精髓缔造 */
.BMW-create{
    margin-top: 60px;
    height: 8000px;
}

.BMW-create-one h2{
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 500;
}

.BMW-create-one p{
    font-size: 18px;
    margin-bottom: 20px;
}

.BMW-create-one-content ul{
    overflow: hidden;
    margin-bottom: 90px;
}

.BMW-create-one-content li{
    float: left;
    width: 285px;
    height: 500px;
    position: relative;
   overflow: hidden;
}

.BMW-create-one-content li:nth-child(1) img{
    position: absolute;
    max-width: none;
    width: auto;
    height: 100% !important;
    left: 0%;
    top: 0%;
    transform-origin: center center;
    /* transition: all 0.5s ease 0s; */
    /* width: 285px; */
    margin-left: -136px;
    margin-right: 15px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-one-content li:nth-child(2) img{
    position: absolute;
    max-width: none;
    width: auto;
    height: 100% !important;
    left: 0%;
    top: 0%;
    transform-origin: center center;
    /* transition: all 0.5s ease 0s; */
    /* width: 285px; */
    margin-left: -33px;
    margin-right: 15px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-one-content li:nth-child(3) img{
    position: absolute;
    max-width: none;
    width: auto;
    height: 100% !important;
    left: 0%;
    top: 0%;
    transform-origin: center center;
    /* transition: all 0.5s ease 0s; */
    /* width: 285px; */
    margin-left: -140px;
    margin-right: 15px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-one-content li:nth-child(4) img{
    position: absolute;
    max-width: none;
    width: auto;
    height: 100% !important;
    left: 0%;
    top: 0%;
    transform-origin: center center;
    /* transition: all 0.5s ease 0s; */
    /* width: 285px; */
    margin-left: -220px;
    transform: scale(1.1);
    transition: all 0.5s;
}


.BMW-create-one-content li img:hover{
    /* -webkit-transform: scale(1.5); */
    transform: scale(1);
  }

.BMW-create-one-content li:nth-child(-n+3){
    margin-right: 15px;
}

.bottom-white1{
    position: absolute;
    top: 350px;
    left: 25px;
}

.bottom-white1 h2{
    font-size: 96px;
    color: #fff;
    font-weight: 100;
    margin-bottom: -8px;
}

.bottom-white1 p{
    color: #fff;
}

.two-content{
    width: 570px;
    height: 416px;
    border-left: 2px solid #bbbbbb;
    padding-left: 20px;
    padding-top: 30px;
    margin-left: 373px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 120px;
}

.border-left{
    position: absolute;
    top: 32px;
    left: -16px;
    width: 14px;
    height: 50px;
    background-color: #bbbbbb;
}

.two-content h3{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 15px;
}

.two-content p{
    font-size: 18px;
    /* font-weight: 500; */
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px
}

/* .BMW-create-two{
    height: 600px;
} */

.BMW-create-three {
    margin-top: 220px;
    position: relative;
    /* overflow: hidden; */
}

.BMW-create-three-title{
    width: 435px;
}

.BMW-create-three h3{
    font-size: 48px;
    margin-bottom: 10px;
}

.BMW-create-three p{
    font-size: 15px;
    margin-bottom: 10px;
}

.BMW-create-three-img2{
    width: 460px;
    height: 460px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 100px;
    display: block;
    /* float: left; */
}

.BMW-create-three-img2 img{
    margin-left: -3px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-three-img3{
    width: 460px;
    height: 460px;
    overflow: hidden;
    /* margin-bottom: 15px; */
    /* display: inline-block; */
    /* float: left; */
}

.left{
    float: left;
}

.BMW-create-three-img3 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-three-img1{
    width: 685px;
    height: 685px;
    overflow: hidden;
    float: right;
    margin-right: 38px;
    /* margin-bottom: 15px; */
}

.BMW-create-three-img1 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-three-img4{
    width: 648px;
    height: 364px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    /* margin-left: -31px; */
    margin-right: 75px;
}

.BMW-create-three-img4 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-three img:hover{
    transform: scale(1);
}

.right{
    float: left;
    width: 637px;
    /* margin-left: 80px; */
    /* overflow: hidden; */
    position: absolute;
    top: -120px;
    right: 0;
}

.dirver{
    width: 285px;
    height: 50px;
    background-color: #1c69d4;
    color: #fff;
    float: left;
    margin-left: 290px;
    margin-top: 175px;
    margin-bottom: 90px;
}

.dirver span{
    text-align: center;
    line-height: 50px;
    display: block;
}



/* 新的语言 */
.BMW-create-four{
    position: relative;
}

.BMW-create-four-title{
    width: 435px;
}

.BMW-create-four-title h3{
    font-size: 48px;
    /* margin-bottom: 10px; */
    font-weight: 400;
}

.BMW-create-four-title p{
    font-size: 15px;
    margin-bottom: 10px;
}

.BMW-create-four-img1{
    width: 460px;
    height: 460px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 100px;
    display: block;
    /* float: left; */
}

.BMW-create-four-img1 img{
    margin-left: -3px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four-img2{
    width: 460px;
    height: 460px;
    overflow: hidden;
}

.BMW-create-four-img2 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four-left{
    float: left;
}

.BMW-create-four-img3{
    width: 275px;
    height: 275px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 185px;
}

.BMW-create-four-img3 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four-img4{
    width: 802px;
    height: 802px;
    overflow: hidden;
    float: right;
    margin-right: 38px;
    /* margin-bottom: 15px; */
}

.BMW-create-four-img4 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four-img5{
    width: 648px;
    height: 364px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    /* margin-left: -31px; */
    margin-right: 190px;
}

.BMW-create-four-img5 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four-img6{
    width: 362px;
    height: 362px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    /* margin-left: -31px; */
    margin-right: 475px;
}

.BMW-create-four-img6 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four-img7{
    width: 271px;
    height: 271px;
    overflow: hidden;
    float: right;
    margin-top: -360px;
    /* margin-left: -31px; */
    margin-right: 191px;
}

.BMW-create-four-img7 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-four img:hover{
    transform: scale(1);
}

.BMW-create-four-right{
    float: left;
    width: 637px;
    /* margin-left: 80px; */
    /* overflow: hidden; */
    position: absolute;
    top: 273px;
    right: -115px;
}




/* 见证魅力 */
.BMW-create-five{
    position: relative;
}

.BMW-create-five-title{
    width: 435px;
}

.BMW-create-five-title h3{
    font-size: 48px;
    /* margin-bottom: 10px; */
    font-weight: 400;
}

.BMW-create-five-title p{
    font-size: 15px;
    margin-bottom: 10px;
}

.BMW-create-five-img1{
    width: 460px;
    height: 460px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 100px;
    display: block;
    /* float: left; */
}

.BMW-create-five-img1 img{
    margin-left: -3px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five-img2{
    width: 460px;
    height: 460px;
    overflow: hidden;
}

.BMW-create-five-img2 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five-left{
    float: left;
}

.BMW-create-five-img3{
    width: 275px;
    height: 275px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 185px;
}

.BMW-create-five-img3 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five-img4{
    width: 802px;
    height: 802px;
    overflow: hidden;
    float: right;
    margin-right: 38px;
    /* margin-bottom: 15px; */
}

.BMW-create-five-img4 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five-img5{
    width: 648px;
    height: 364px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    /* margin-left: -31px; */
    margin-right: 191px;
}

.BMW-create-five-img5 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five-img6{
    width: 362px;
    height: 362px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    /* margin-left: -31px; */
    margin-right: 477px;
}

.BMW-create-five-img6 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five-img7{
    width: 271px;
    height: 271px;
    overflow: hidden;
    float: right;
    margin-top: -360px;
    /* margin-left: -31px; */
    margin-right: 190px;
}

.BMW-create-five-img7 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-five img:hover{
    transform: scale(1);
}

.BMW-create-five-right{
    float: left;
    width: 637px;
    /* margin-left: 80px; */
    /* overflow: hidden; */
    position: absolute;
    top: 273px;
    right: -116px;
}




/* 未来感旅程 */
.BMW-create-six {
    margin-top: 220px;
    position: relative;
    /* overflow: hidden; */
}

.BMW-create-six-title{
    width: 435px;
}

.BMW-create-six h3{
    font-size: 48px;
    margin-bottom: 10px;
}

.BMW-create-six p{
    font-size: 15px;
    margin-bottom: 10px;
}

.BMW-create-six-img2{
    width: 460px;
    height: 460px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 100px;
    display: block;
    /* float: left; */
}

.BMW-create-six-img2 img{
    margin-left: -3px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-six-img3{
    width: 460px;
    height: 460px;
    overflow: hidden;
    /* margin-bottom: 15px; */
    /* display: inline-block; */
    /* float: left; */
}

.BMW-create-six-left{
    float: left;
}

.BMW-create-six-img3 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-six-img1{
    width: 685px;
    height: 685px;
    overflow: hidden;
    float: right;
    margin-right: 38px;
    /* margin-bottom: 15px; */
}

.BMW-create-six-img1 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-six-img4{
    width: 648px;
    height: 364px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    /* margin-left: -31px; */
    margin-right: 75px;
}

.BMW-create-six-img4 img{
    margin-left: -25px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.BMW-create-six img:hover{
    transform: scale(1);
}

.BMW-create-six-right{
    float: left;
    width: 637px;
    /* margin-left: 80px; */
    /* overflow: hidden; */
    position: absolute;
    top: 43px;
    right: 0;
}






/* 套装与配置 */
.taozhaung-title h2{
    font-size: 96px;
    padding-bottom: 75px;
    color: #e6e6e6;
    box-sizing: border-box;
    font-weight: 500;
}

.taozhaung-title p{
    font-size: 14px;
    color: #bbb;
    margin-left: 50px;
}

.taozhuang-name{
    width: 635px;
    overflow: hidden;
    height: 40px;
    position: relative;
    padding-left: 35px;
    box-sizing: border-box;
}

.taozhuang-name ul{
    overflow: hidden;
    width: 10000px;
    position: relative;
    padding-left: 16px;
    position: absolute;
}

.taozhuang-name li{
    font-size: 35px;
    /* margin-left: 30px; */
    float: left;
    /* margin-right: 60px; */
    /* padding-left: 30px; */
    width:635px
}

.arrow-left{
    display: block;
}

.taozhuang-name-left{
    display: block;
    position: absolute;
    top: 8px;
    left: -4px;
    z-index: 10;
}

.taozhuang-name-left i{
   
    margin-top: 8px;
    font-size: 26px;
    font-weight: 900;
    color: #666;
}


.taozhuang-name-arrow-right{
    display: block;
    position: absolute;
    top: 7px;
    left: 480px;
   z-index: 100;
}

.taozhuang-name-arrow-right i{
    font-size: 26px;
    font-weight: 900;
    color: #666;
   
}

.look{
    width: 1200px;
    height: 475px;
    position: relative;
    overflow: hidden;
}

.taozhaung-name-content{
    width: 10000px;
    overflow: hidden;
    height: 475px;
}

.taozhaung-img{
    float: left;
   
}

.taozhaung-img img{
    width: 71%;
}


.taozhaung-car{
    height: 335px;
    
}

.taozhaung-last p{
    font-size: 14px;
    color: #262626;
    margin-bottom: 100px;
}


/* 精彩视频 */
.vedieo{
    /* height: 595px; */
    margin-left: 110px;
    
}

.vedieo h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-left: 250px;
}

.video-content {
    height: 700x;
    /* margin-left: 114px; */
    /* margin-left: 112px; */
    position: relative;
    margin-top: 92px;
    width: 1680px;
  }

  .video-content img{
      width: 100%;
  }

  .video-content ul{
      height: 632px;
      overflow: hidden;
  }

  .video-content ul li {
    position: absolute;
    float: left;
    margin-right: 15px;
    /* display: none; */
  }

  /* .video-content ul li:first-child {
    display: block;
  } */





.THE3-content{
    width: 585px;
    height: 465px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 100px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-right: 15px;
    margin-top: 100px;
}

.THE3-content img{
    width: 100%;
}

.THE3-content p{
    font-size: 25px;
      margin-top: 10px;
      margin-left: 10px;
  }
  
  .THE3-content s{
    font-size: 25px;
      margin: 7px 0px;
      display: block;
      margin-left: 10px;
  }

  .THE3-content b{
    font-size: 14px;
      margin: 7px 0px;
      display: block;
      margin-left: 10px;
      font-weight: normal;
  }

  .THE3-content .understand{
    width: 95px;
      height: 30px;
      line-height: 22px;
      font-size: 14px
  }
  
  .THE3-content .understand img{
    height: 29px;
      margin-right: -7px;
      width: 30px;
      margin-top: -4px;
      margin-left: 0px;
      float: left;
  }




  /* 第八部分 */
.eight-part{
    padding-bottom: 120px;
    
  }
  .eight-part-one{
    width: 230px;
    height: 155px;
    background-color: #f2f2f2;
      /* display: inline-block; */
      margin-right: 10px;
      position: relative;
      float: left;
  }
  
  .eight-part-one .iconfont{
    font-size: 30px;
    position: absolute;
    top: 30%;
    right: 45%;
  }
  
  .eight-part-one p{
    font-size: 16px;
    color: #9b9b9b;
    margin-top: 90px;
    margin-left: 70px;
  }
  
  .eight-part-one .yu{
    margin-left: 82px;
  }
  
  
  
  
  /* 底部 */
  .footer{
    width: 100%;
    height: 415px;
    background-color: #e6e6e6;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 150px;
    position: relative;
    box-sizing: border-box;
  }
  
  .footer dl{
    float: left;
    margin-right: 120px;
  }
  
  .footer .footer-one{
    padding-left: 24px;
  }
  
  .footer dt{
    font-size: 18px;
      color: #333;
      margin-bottom: 28px;
  }
  
  .footer dd{
    font-size: 14px;
    line-height: 28px;
    color: #999999;
    font-weight: 700;
  }
  
  .footer dd:hover{
    color: #2b2b2b;
  }
  
  .footer .xian{
    position: absolute;
      bottom: 307px;
      left: 332px;
      width: 1200px;
      height: 1px;
      background-color: #bbbbbb;
  }
  
  
  
  /* 许可证 */
  .last{
    width: 100%;
    height: 87px;
    overflow: hidden;
  }
  
  .last p{
    float: left;
    float: left;
      font-size: 16px;
      line-height: 70px;
      padding-left: 24px;
  }
  
  .last-right{
    float: right;
      font-size: 14px;
      position: relative;
  }
  
  .last-right span{
    margin-right: 19px;
    line-height: 70px;
    padding: 3px;
  }
  
  .last-right i{
    position: absolute;
      top: 25px;
      right: 200px;
      background-image: url(../images/last_1.png);
      background-repeat: no-repeat;
      width: 22px;
      height: 21px;
      padding-left: 12px;
      display: block;
  }
  
  .last .us{
    color: #1567d7;
  }
  
  .last .us:hover{
    color: #333;
    font-weight: 900;
  }
  
  .last-right .jing:hover{
    font-weight: 700;
  }