<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全新宝马3系配置表-宝马3系参数-宝马中国</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="./lib/reset/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/parameter.css">
</head>

<body>
    <!-- 顶部导航 -->
    <div class="top-nav clearfix">
        <div class="container">
            <div class="top-nav-left"><a href="#">全部车型</a></div>
            <div class="top-nav-left"><a href="#">BMW服务</a></div>
            <div class="top-nav-left"><a href="#">BMW天地</a></div>
            <div class="top-nav-left"><a href="#">BMW官方商城</a></div>
            <div class="top-nav-right">
                <div class="rihgt-three"><a href="#" class="big"><i class="iconfont">&#xe610;</i></a></div>
                <div class="right-three"><a href="#" class="people"><i class="iconfont">&#xe663;</i></a></div>
                <div class="right-three"><a href="#" class="gps"><i class="iconfont">&#xe681;</i></a></div>
                <div class="topnav-right">
                    <a href="" class="BMW"></a>
                </div>
            </div>
        </div>
    </div>


    <!-- 配置表 -->
    <div class="configuration-table">
        <div class="container">
            <a href="#">全新BMW3系</a>
            <a href="#">概述</a>
            <a href="#">详情</a>
            <a href="#">配置表</a>
            <a href="#">价格与购车礼遇</a>
            <a href="#">THE3</a>
            <div class="driver">
                <span>预约试驾</span>
            </div>
        </div>
    </div>


    <!-- 参数与配置 -->
    <div class="parameter">
        <div class="container">
            <h1>参数与配置</h1>
            <!-- 标准装备 -->
            <div class="parameter-two">
                <a href="#">标准装备</a>
                <a href="#">选择装备</a>
                <a href="#">恕无法供应</a>
                <a href="#">重置对比栏</a>
            </div>
            <!-- 轴距 -->
            <div class="wheelbase">
                <span>请选择轴距</span>
                <div class="long">
                    长轴距
                </div>
                <div class="biaozhun">
                    标准轴距
                </div>
            </div>
            <!-- 最优项 -->
            <div class="big-choose">
                <!-- 选择框左边 -->
                <div class="choose">
                    <div class="choose-left-one">
                        <input type="checkbox" id="input1" ng-click="">
                        <span>标示最优项</span>
                    </div>
                    <div class="choose-left-two">
                        <input type="checkbox" id="input2" ng-click="">
                        <span>隐藏相同项</span>
                    </div>
                </div>
                <!-- 选择框右边 -->
                <div class="choose-content">
                    <ul>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white1">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white2">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white3">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white4">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white5">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white6">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                    </ul>
                    <!-- 左箭头 -->
                    <div class="arrow-left"><i class="iconfont">&#xe632;</i></div>
                    <!-- 右箭头 -->
                    <div class="arrow-right"><i class="iconfont">&#xe630;</i></div>

                </div>
            </div>
            <!-- 建议零售价 -->
            <div class="price">
                <b>建议零售价</b>
                <span>¥ 318,900</span>
                <span>¥ 318,900</span>
                <span>¥ 318,900</span>
            </div>
        </div>
    </div>

    <!-- 基本数据 -->
    <div class="information">
        <div class="container">
            <table>
                <ul>
                    <li>基本数据</li>
                    <li>安全性</li>
                    <li>外观</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <tbody>
                    <tr>
                        <td>车长/车宽/车高（毫米）</td>
                        <td>4829/1827/1463</td>
                        <td>4829/1827/1463</td>
                        <td>4829/1827/1463</td>
                    </tr>

                    <tr>
                        <td>轴距（毫米）</td>
                        <td>2961</td>
                        <td>2961</td>
                        <td>2961</td>
                    </tr>

                    <tr>
                        <td>汽缸/排量(毫升)</td>
                        <td>4/1998</td>
                        <td>4/1998</td>
                        <td>4/1998</td>
                    </tr>

                    <tr>
                        <td>输出功率（千瓦/马力）、转速（转每分）</td>
                        <td>115/156/4500-6500</td>
                        <td>135/184/5000-6500</td>
                        <td>135/184/5000-6500</td>
                    </tr>

                    <tr>
                        <td>扭矩（牛米/转每分）</td>
                        <td>250/1250-4000</td>
                        <td>300/1350-4000</td>
                        <td>300/1350-4000</td>
                    </tr>

                    <tr>
                        <td>最高车速（公里/小时）</td>
                        <td>226</td>
                        <td>235</td>
                        <td>235</td>
                    </tr>

                    <tr>
                        <td>0-100公里/小时（秒）</td>
                        <td>9.1</td>
                        <td>8.1</td>
                        <td>8.1</td>
                    </tr>

                    <tr>
                        <td>综合耗油量1（升/100公里）</td>
                        <td>6.1</td>
                        <td>6</td>
                        <td>6.1</td>
                    </tr>

                    <tr>
                        <td>油箱容积约（升）</td>
                        <td>59</td>
                        <td>59</td>
                        <td>59</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 具体数据 -->
    <!-- <div class="information-content">
        <div class="information-content-left">
            <ul>
                <li>车长/车宽/车高（毫米）</li>
                <li>轴距（毫米）</li>
                <li>汽缸/排量(毫升)</li>
                <li>输出功率（千瓦/马力）、转速（转每分）</li>
                <li>扭矩（牛米/转每分）</li>
                <li>最高车速（公里/小时）</li>
                <li>0-100公里/小时（秒）</li>
                <li>综合耗油量1（升/100公里）</li>
                <li>油箱容积约（升）</li>
            </ul>
        </div>
    </div> -->

    <script src="./lib/jQuery/jquery-3.4.1.min.js"></script>
    <script src="./js/parameter.js"></script>
</body>

</html>