<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全新宝马3系配置表-宝马3系参数-宝马中国</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="./lib/reset/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/parameter.css">
</head>

<body>
    <!-- 顶部导航 -->
    <div class="top-nav clearfix">
        <div class="container">
            <div class="top-nav-left"><a href="#">全部车型</a></div>
            <div class="top-nav-left"><a href="#">BMW服务</a></div>
            <div class="top-nav-left"><a href="#">BMW天地</a></div>
            <div class="top-nav-left"><a href="#">BMW官方商城</a></div>
            <div class="top-nav-right">
                <div class="rihgt-three"><a href="#" class="big"><i class="iconfont">&#xe610;</i></a></div>
                <div class="right-three"><a href="#" class="people"><i class="iconfont">&#xe663;</i></a></div>
                <div class="right-three"><a href="#" class="gps"><i class="iconfont">&#xe681;</i></a></div>
                <div class="topnav-right">
                    <a href="" class="BMW"></a>
                </div>
            </div>
        </div>
    </div>


    <!-- 配置表 -->
    <div class="configuration-table">
        <div class="container">
            <a href="#">全新BMW3系</a>
            <a href="#">概述</a>
            <a href="#">详情</a>
            <a href="#">配置表</a>
            <a href="#">价格与购车礼遇</a>
            <a href="#">THE3</a>
            <div class="driver">
                <span>预约试驾</span>
            </div>
        </div>
    </div>


    <!-- 参数与配置 -->
    <div class="parameter">
        <div class="container">
            <h1>参数与配置</h1>
            <!-- 标准装备 -->
            <div class="parameter-two">
                <a href="#">标准装备</a>
                <a href="#">选择装备</a>
                <a href="#">恕无法供应</a>
                <a href="#">重置对比栏</a>
            </div>
            <!-- 轴距 -->
            <div class="wheelbase">
                <span>请选择轴距</span>
                <div class="long">
                    长轴距
                </div>
                <div class="biaozhun">
                    标准轴距
                </div>
            </div>
            <div class="big-choose">
                <!-- 选择框左边 -->
                <div class="choose">
                    <div class="choose-left-one">
                        <input type="checkbox" id="input1" ng-click="">
                        <span>标示最优项</span>
                    </div>
                    <div class="choose-left-two">
                        <input type="checkbox" id="input2" ng-click="">
                        <span>隐藏相同项</span>
                    </div>
                </div>
                <!-- 选择框右边 -->
                <div class="choose-content">
                    <!-- 左箭头 -->
                    <div class="arrow-left"><i class="iconfont">&#xe632;</i></div>
                    <!-- 右箭头 -->
                    <div class="arrow-right"><i class="iconfont">&#xe630;</i></div>
                    <select id="selid">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <script src="./lib/jQuery/jquery-3.4.1.min.js"></script>
    <script src="./js/parameter.js"></script>
</body>

</html>