<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全新宝马3系配置表-宝马3系参数-宝马中国</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="./lib/reset/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/parameter.css">
</head>

<body>
    <!-- 顶部导航 -->
    <div class="top-nav clearfix">
        <div class="container">
            <div class="top-nav-left"><a href="#">全部车型</a></div>
            <div class="top-nav-left"><a href="#">BMW服务</a></div>
            <div class="top-nav-left"><a href="#">BMW天地</a></div>
            <div class="top-nav-left"><a href="#">BMW官方商城</a></div>
            <div class="top-nav-right">
                <div class="rihgt-three"><a href="#" class="big"><i class="iconfont">&#xe610;</i></a></div>
                <div class="right-three"><a href="#" class="people"><i class="iconfont">&#xe663;</i></a></div>
                <div class="right-three"><a href="#" class="gps"><i class="iconfont">&#xe681;</i></a></div>
                <div class="topnav-right">
                    <a href="" class="BMW"></a>
                </div>
            </div>
        </div>
    </div>


    <!-- 配置表 -->
    <div class="configuration-table">
        <div class="container">
            <a href="#">全新BMW3系</a>
            <a href="#">概述</a>
            <a href="#">详情</a>
            <a href="#">配置表</a>
            <a href="#">价格与购车礼遇</a>
            <a href="#">THE3</a>
            <div class="driver">
                <span>预约试驾</span>
            </div>
        </div>
    </div>


    <!-- 参数与配置 -->
    <div class="parameter">
        <div class="container">
            <h1>参数与配置</h1>
            <!-- 标准装备 -->
            <div class="parameter-two">
                <a href="#">标准装备</a>
                <a href="#">选择装备</a>
                <a href="#">恕无法供应</a>
                <a href="#">重置对比栏</a>
            </div>
            <!-- 轴距 -->
            <div class="wheelbase">
                <span>请选择轴距</span>
                <div class="long">
                    长轴距
                </div>
                <div class="biaozhun">
                    标准轴距
                </div>
            </div>
            <!-- 最优项 -->
            <div class="big-choose">
                <!-- 选择框左边 -->
                <div class="choose">
                    <div class="choose-left-one">
                        <input type="checkbox" id="input1" ng-click="">
                        <span>标示最优项</span>
                    </div>
                    <div class="choose-left-two">
                        <input type="checkbox" id="input2" ng-click="">
                        <span>隐藏相同项</span>
                    </div>
                </div>
                <!-- 选择框右边 -->
                <div class="choose-content">
                    <ul>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white1">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white2">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white3">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white4">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white5">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                        <li>
                            <select id="selid">
                                <option>320Li M运动套装</option>
                                <option>325Li 首发版</option>
                                <option>325Li M运动套装</option>
                                <option>325Li xDrive M运动套装</option>
                                <option>325Li M运动曜夜套装</option>
                                <option>330Li xDrive M运动曜夜套装</option>
                            </select>
                            <div class="arrow-white6">
                                <i class="iconfont">&#xe632; </i>
                            </div>
                            <a href="#">删除</a>
                        </li>
                    </ul>
                    <!-- 左箭头 -->
                    <div class="arrow-left"><i class="iconfont">&#xe632;</i></div>
                    <!-- 右箭头 -->
                    <div class="arrow-right"><i class="iconfont">&#xe630;</i></div>

                </div>
            </div>
            <!-- 建议零售价 -->
            <div class="price">
                <b>建议零售价</b>
                <span>¥ 318,900</span>
                <span>¥ 318,900</span>
                <span>¥ 318,900</span>
            </div>
        </div>
    </div>

    <!-- 基本数据 -->
    <div class="information">
        <div class="container">
            <ul>
                <div class="information-add1">
                    <i>+</i>
                </div>
                <li>基本数据</li>
                <table>
                    <tbody>
                        <tr>
                            <td>车长/车宽/车高（毫米）</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                        </tr>

                        <tr>
                            <td>轴距（毫米）</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                        </tr>

                        <tr>
                            <td>汽缸/排量(毫升)</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>

                        </tr>

                        <tr>
                            <td>输出功率（千瓦/马力）、转速（转每分）</td>
                            <td>115/156/4500-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>135/184/4500-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>190/258/5000-6500</td>
                        </tr>

                        <tr>
                            <td>扭矩（牛米/转每分）</td>
                            <td>300/1250-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>400/1550-4400</td>
                        </tr>

                        <tr>
                            <td>最高车速（公里/小时）</td>
                            <td>226</td>
                            <td>235</td>
                            <td>235</td>
                            <td>235</td>
                            <td>235</td>
                            <td>250.0</td>
                        </tr>

                        <tr>
                            <td>0-100公里/小时（秒）</td>
                            <td>9.1</td>
                            <td>8.1</td>
                            <td>8.1</td>
                            <td>8.2</td>
                            <td>8.1</td>
                            <td>5.9</td>
                        </tr>

                        <tr>
                            <td>综合耗油量1（升/100公里）</td>
                            <td>6.1</td>
                            <td>6</td>
                            <td>6.1</td>
                            <td>6.9</td>
                            <td>6.1</td>
                            <td>6.9</td>
                        </tr>

                        <tr>
                            <td>油箱容积约（升）</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                        </tr>
                    </tbody>
                </table>

                <div class="information-add2">
                    <i>+</i>
                </div>
                <li>安全性</li>
                <table>
                    <tbody>
                        <tr>
                            <td>车长/车宽/车高（毫米）</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                        </tr>

                        <tr>
                            <td>轴距（毫米）</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                        </tr>

                        <tr>
                            <td>汽缸/排量(毫升)</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>

                        </tr>

                        <tr>
                            <td>输出功率（千瓦/马力）、转速（转每分）</td>
                            <td>115/156/4500-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>135/184/4500-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>190/258/5000-6500</td>
                        </tr>

                        <tr>
                            <td>扭矩（牛米/转每分）</td>
                            <td>300/1250-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>400/1550-4400</td>
                        </tr>

                        <tr>
                            <td>最高车速（公里/小时）</td>
                            <td>226</td>
                            <td>235</td>
                            <td>235</td>
                            <td>235</td>
                            <td>235</td>
                            <td>250.0</td>
                        </tr>

                        <tr>
                            <td>0-100公里/小时（秒）</td>
                            <td>9.1</td>
                            <td>8.1</td>
                            <td>8.1</td>
                            <td>8.2</td>
                            <td>8.1</td>
                            <td>5.9</td>
                        </tr>

                        <tr>
                            <td>综合耗油量1（升/100公里）</td>
                            <td>6.1</td>
                            <td>6</td>
                            <td>6.1</td>
                            <td>6.9</td>
                            <td>6.1</td>
                            <td>6.9</td>
                        </tr>

                        <tr>
                            <td>油箱容积约（升）</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                        </tr>
                    </tbody>
                </table>

                <div class="information-add3">
                    <i>+</i>
                </div>
                <li>外观</li>
                <table>
                    <tbody>
                        <tr>
                            <td>车长/车宽/车高（毫米）</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                            <td>4829/1827/1463</td>
                        </tr>

                        <tr>
                            <td>轴距（毫米）</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                            <td>2961</td>
                        </tr>

                        <tr>
                            <td>汽缸/排量(毫升)</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>
                            <td>4/1998</td>

                        </tr>

                        <tr>
                            <td>输出功率（千瓦/马力）、转速（转每分）</td>
                            <td>115/156/4500-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>135/184/4500-6500</td>
                            <td>135/184/5000-6500</td>
                            <td>190/258/5000-6500</td>
                        </tr>

                        <tr>
                            <td>扭矩（牛米/转每分）</td>
                            <td>300/1250-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>300/1350-4000</td>
                            <td>400/1550-4400</td>
                        </tr>

                        <tr>
                            <td>最高车速（公里/小时）</td>
                            <td>226</td>
                            <td>235</td>
                            <td>235</td>
                            <td>235</td>
                            <td>235</td>
                            <td>250.0</td>
                        </tr>

                        <tr>
                            <td>0-100公里/小时（秒）</td>
                            <td>9.1</td>
                            <td>8.1</td>
                            <td>8.1</td>
                            <td>8.2</td>
                            <td>8.1</td>
                            <td>5.9</td>
                        </tr>

                        <tr>
                            <td>综合耗油量1（升/100公里）</td>
                            <td>6.1</td>
                            <td>6</td>
                            <td>6.1</td>
                            <td>6.9</td>
                            <td>6.1</td>
                            <td>6.9</td>
                        </tr>

                        <tr>
                            <td>油箱容积约（升）</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                            <td>59</td>
                        </tr>
                    </tbody>
                </table>

                <div class="information-add4">
                    <i>+</i>
                </div>
                <li>内装</li>

                <div class="information-add5">
                    <i>+</i>
                </div>
                <li>BMW技术</li>

                <div class="information-add6">
                    <i>+</i>
                </div>
                <li>车身漆</li>

                <div class="information-add7">
                    <i>+</i>
                </div>
                <li>座椅材质</li>

                <div class="information-add8">
                    <i>+</i>
                </div>
                <li>车轮</li>

                <div class="information-add9">
                    <i>+</i>
                </div>
                <li>内饰条</li>

                <div class="information-add10">
                    <i>+</i>
                </div>
                <li>BMW专属定制套装</li>

                <div class="information-add11">
                    <i>+</i>
                </div>
                <li>BMW专属定制装备</li>
            </ul>

        </div>
    </div>

    <!-- 具体数据 -->
    <!-- <div class="information-content">
        <div class="information-content-left">
            <ul>
                <li>车长/车宽/车高（毫米）</li>
                <li>轴距（毫米）</li>
                <li>汽缸/排量(毫升)</li>
                <li>输出功率（千瓦/马力）、转速（转每分）</li>
                <li>扭矩（牛米/转每分）</li>
                <li>最高车速（公里/小时）</li>
                <li>0-100公里/小时（秒）</li>
                <li>综合耗油量1（升/100公里）</li>
                <li>油箱容积约（升）</li>
            </ul>
        </div>
    </div> -->


    <div class="beizhu">
        <div class="container">
            <div class="beizhu-one">
                <h3>备注</h3>
                <b>全新BMW 3系标准轴距版</b>
                <p>1. 选装“远光自动控制”，则“具自动防眩目功能的内部后视镜”将被包含在内。</p>
                <p>2. 选装“主动巡航控制系统”，则“定速巡航控制系统”将被包含在内。</p>
                <p>“主动巡航控制系统”不能与“专业型驾驶辅助系统”同时选装。</p>
                <p>3. 选装“驾驶辅助系统”需以车辆已经配置了“具自动防眩目功能的内部后视镜和驾驶员侧外部后视镜”为前提。</p>
                <p>“驾驶辅助系统”不能与“专业型驾驶辅助系统”同时选装。</p>
                <p>4. 选装“专业型驾驶辅助系统”需以车辆已经配置了“具自动防眩目功能的内部后视镜和驾驶员侧外部后视镜”为前提。</p>
                <p>选装“专业型驾驶辅助系统”，则“定速巡航控制系统”、“主动巡航控制系统”、“驾驶辅助系统”将被包含在内。</p>
                <p>5. 选装“增强型泊车辅助系统”需以车辆已经配置了“具自动防眩目功能的内部后视镜和驾驶员侧外部后视镜”为前提。</p>
                <p>选装“增强型泊车辅助系统”，则“泊车辅助系统”将被包含在内。</p>
                <p>6. “高保真音响系统”不能与“娱乐套装”同时选装。</p>
                <p>7. “定速巡航控制系统”不能与“主动巡航控制系统”或“专业型驾驶辅助系统”同时选装。</p>
                <p>8. 选装“BMW行车记录仪”需以车辆已经配置了“增强型泊车辅助系统”为前提。</p>
                <p>9.
                    解放双手低速跟车功能仅限于辅助驾驶员驾驶操作。驾驶员对开启该功能的路况判断负有全部责任。驾驶员必须在遵守我国道路交通安全法实施条例，以及机动车驾驶证申领和使用规定等适用的法律法规规定的前提下，谨慎使用该功能,并就依法驾驶车辆负有全部责任。若在驾驶过程中发生违章、事故、纠纷，驾驶员应承担全部责任，车辆本体（以及制造生产商、总销售商和分销商）不承担任何责任。
                </p>
            </div>

            <div class="beizhu-two">
                <b>全新BMW 3系长轴距版</b>
                <p>1. 选装“8速运动型手自一体变速箱，带换挡拨片”需以车辆已经配置了“定速巡航控制系统”或“主动巡航控制系统”或“专业型驾驶辅助系统”为前提。</p>
                <p>2. 选装“远光自动控制”，则“具自动防眩目功能的内部后视镜”将被包含在内。</p>
                <p>3. “定速巡航控制系统”不能与“主动巡航控制系统”或“专业型驾驶辅助系统”同时选装。</p>
                <p>4. 选装“主动巡航控制系统”，则“定速巡航控制系统”将被包含在内。</p>
                <p>“主动巡航控制系统”不能与“专业型驾驶辅助系统”同时选装。</p>
                <p>5. 选装“驾驶辅助系统”需以车辆已经配置了“具自动防眩目功能的内部后视镜和驾驶员侧外部后视镜”为前提。</p>
                <p>“驾驶辅助系统”不能与“专业型驾驶辅助系统”同时选装。</p>
                <p>6. 选装“专业型驾驶辅助系统”需以车辆已经配置了“具自动防眩目功能的内部后视镜和驾驶员侧外部后视镜”为前提。</p>
                <p>选装“专业型驾驶辅助系统”，则“定速巡航控制系统”、“主动巡航控制系统”、“驾驶辅助系统”将被包含在内。</p>
                <p>7. 选装“增强型泊车辅助系统”需以车辆已经配置了“具自动防眩目功能的内部后视镜和驾驶员侧外部后视镜”为前提。</p>
                <p>选装“增强型泊车辅助系统”，则“泊车辅助系统”将被包含在内。</p>
                <p>8. “高保真音响系统”不能与“娱乐套装”同时选装。</p>
                <p>9. “定速巡航控制系统”不能与“主动巡航控制系统”或“专业型驾驶辅助系统”同时选装。</p>
                <p>10. 选装“BMW行车记录仪”需以车辆已经配置了“增强型泊车辅助系统”为前提。</p>
                <p>11.
                    解放双手低速跟车功能仅限于辅助驾驶员驾驶操作。驾驶员对开启该功能的路况判断负有全部责任。驾驶员必须在遵守我国道路交通安全法实施条例，以及机动车驾驶证申领和使用规定等适用的法律法规规定的前提下，谨慎使用该功能,并就依法驾驶车辆负有全部责任。若在驾驶过程中发生违章、事故、纠纷，驾驶员应承担全部责任，车辆本体（以及制造生产商、总销售商和分销商）不承担任何责任。
                </p>
                <br>
                <p>所有本手册列出的选择装备都在原厂安装。如有其他要求，请联系您当地的BMW授权经销商查阅详细的附件目录。<br>
                    <br>
                    ■ 标准装备　□ 选择装备　— 恕无法供应
                </p>
                <br>
                <p>*专属定制组合与套装中，“— 恕无法供应”的配置以中国上市产品为准。<br>
                    <br>
                    *上述信息中所提及的“真皮/扩展真皮/多孔型真皮”座椅材质是由真皮及合成皮革组成，不同座椅材质的真皮和合成皮革的组成比例和包裹范围有差别，具体情况以中国实际上市产品为准。本手册中只说明皮质颜色信息，如对皮质组成比例和包裹范围有疑问请咨询BMW授权经销商。<br>
                    <br>
                    *BMW会尽力按照现时发布的BMW最新产品信息更新本网页/本配置表内的产品信息，但可能出现本网页/本配置表内产品详情信息更新迟延的情形。具体可购车型及其配置详情请咨询您所在地的BMW授权经销商，并以BMW授权经销商店内相关车型的最新配置表信息为准。
                </p>

            </div>
        </div>
    </div>






    <!-- 第八部分 -->
    <div class="eight-part">
        <div class="container">
            <div class="eight-part-one">
                <i class="iconfont">&#xe559;</i>
                <p class="yu">预约试驾</p>
            </div>
            <div class="eight-part-one">
                <i class="iconfont">&#xe628;</i>
                <p>咨询销售信息</p>
            </div>
            <div class="eight-part-one">
                <i class="iconfont">&#xe7ef; </i>
                <p>索取产品手册</p>

            </div>
            <div class="eight-part-one">
                <i class="iconfont">&#xe6e3;</i>
                <p>BMW官方商城</p>

            </div>
            <div class="eight-part-one">
                <i class="iconfont">&#xe61d;</i>
                <p class="yu">联系我们</p>
            </div>
        </div>
    </div>



    <!--底部  -->
    <div class="footer">
        <div class="container">
            <div class="xian"></div>
            <dl class="footer-one">
                <dt>联系我们</dt>
                <dd>预约试驾</dd>
                <dd>咨询销售信息</dd>
                <dd>索取产品手册</dd>
                <dd>查找经销商</dd>
                <dd>联系我们</dd>
                <dd>加入我们</dd>
            </dl>
            <dl>
                <dt>快速链接</dt>
                <dd>BMW官方旗舰店</dd>
                <dd>法律申明</dd>
                <dd>Cookie政策</dd>
                <dd>隐私政策</dd>
                <dd>环保信息公开</dd>
                <dd>网站地图</dd>
            </dl>
            <dl>
                <dt>BMW天地</dt>
                <dd>BMW新闻</dd>
                <dd>BMW汽车生产之旅</dd>
                <dd>大客户业务</dd>
            </dl>
            <dl>
                <dt>其他宝马网站</dt>
                <dd>华晨宝马</dd>
                <dd>BMW互联驾驶在线商店</dd>
                <dd>BMW摩托车</dd>
            </dl>
            <dl>
                <dt>官方社交媒体</dt>
                <dd>宝马中国官方微信</dd>
                <dd>宝马中国官方微博</dd>
            </dl>
        </div>
    </div>


    <!-- 许可证 -->
    <div class="last">
        <div class="container">
            <p>© BMW 中国 2020</p>
            <div class="last-right">
                <span class="us">联系我们</span>
                <span class="us">法律声明</span>
                <span class="jing">京ICP备08004883号</span>
                <span class="jing"><i></i>京公网安备11010502038527号</span>
            </div>
        </div>
    </div>

    <script src="./lib/jQuery/jquery-3.4.1.min.js"></script>
    <script src="./js/parameter.js"></script>
</body>

</html>